@import '../../../../Assets/Sass/Veriables.scss';

.contact {
    background-color: $black;

    .container {
        &__list {
            position: relative;
            top: -6rem;
            width: 100%;
            background-color: $beige;
            height: 200px;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            &__item {
                width: 250px;
                margin: 1rem;
                display: flex;
                align-items: center;

                &__icon {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                    color: $white;

                    i {
                        font-size: 2.3rem;
                    }
                }

                &__things {
                    h2 {
                        color: $white;
                    }

                    main {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        a {
                            margin-top: .5rem;
                            color: $black;

                            &:hover {
                                color: $white;
                                transition: $transition;
                            }
                        }
                    }
                }
            }
        }

        &__form {
            max-width: 100%;
            padding: 55px 100px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            &__inp {
                width: 45%;
                outline: none;
                background-color: transparent;
                border: 2px solid $beige;
                padding: 1.2rem;
                margin: 1.5rem;

                &:focus {
                    border: 1px solid $white;
                }
            }

            &__inp1 {
                width: 100%;
                outline: none;
                background-color: transparent;
                border: 2px solid $beige;
                margin: 1.5rem;
                padding: 1.2rem;
                padding-bottom: 12rem;
                color: #fff;

                &:focus {
                    border: 1px solid $white;
                }
            }

            &__btn {
                width: 160px;
                font-weight: 600;
                font-size: 1rem;
                color: $white;
                background-color: $beige;
                padding: 16px 40px;
                border: 0;
                position: relative;
                z-index: 1;
                transition: $transition;

                &:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    width: 0;
                    height: 100%;
                    opacity: 0;
                    z-index: -1;
                    transition: $transition;
                    background-color: $black;
                }

                &:after {
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 0;
                    width: 0;
                    height: 100%;
                    opacity: 0;
                    z-index: -1;
                    transition: $transition;
                    background-color: $black;
                }

                &:hover {
                    color: $white;
                    box-shadow: 0px 0px 20px 0px #ddd;

                    &:before {
                        width: 50%;
                        opacity: 1;
                    }

                    &:after {
                        width: 50%;
                        opacity: 1;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1399px) {

    .contact {
        .container {
            &__form {
                &__inp {
                    width: 40%;
                }

                &__inp1 {
                    width: 86%;
                }

                &__btn {
                    width: 160px;
                }
            }
        }
    }
}


@media only screen and (max-width: 991px) {
    .contact {
        .container {
            &__list {
                top: -6rem;
                width: 100%;
                height: 300px;
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            }

            &__form {
                max-width: 100%;
                padding: 20px 0px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                &__inp {
                    width: 45%;
                    padding: 1.5rem;
                    margin: .5rem;
                }

                &__inp1 {
                    width: 93%;
                    margin: 1rem;
                    padding: 1rem;
                    padding-bottom: 12rem;
                }
            }
        }
    }
}


@media only screen and (max-width: 767px) {
    .contact {
        .container {
            &__list {
                top: -6rem;
                width: 100%;
                height: 300px;
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                &__item {
                    width: 180px;
                    margin: 1rem;

                    &__icon {
                        width: 40px;
                        height: 40px;

                        i {
                            font-size: 2rem;
                        }
                    }

                    &__things {
                        h2 {
                            color: $white;
                            font-size: 1.5rem;
                        }

                        main {

                            a {
                                margin-top: 0;
                                font-size: .7rem;
                            }
                        }
                    }
                }

            }

            &__form {
                max-width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                &__inp {
                    width: 45%;
                    padding: 1rem;
                    margin: .5rem;
                }

                &__inp1 {
                    width: 100%;
                    margin: 1rem;
                    padding: 1rem;
                    padding-bottom: 12rem;
                }
            }
        }
    }
}


@media only screen and (max-width: 575px) {
    .contact {
        .container {
            &__list {
                top: 0;
                width: 100%;
                height: 300px;
                padding: 1rem;
                display: block;
            }

            &__form {
                max-width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                &__inp {
                    width: 100%;
                    padding: 1rem;
                    margin: .5rem;
                }

                &__inp1 {
                    width: 100%;
                    margin: .5rem;
                    padding: 1rem;
                    padding-bottom: 12rem;
                }
            }
        }
    }
}