@import '../../../../assets/variables';

.contact {
    background-image: url('../../../../../public/image/bi-contact.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 9rem;

    .container {
        &__location {
            background-color: $location-bc;
            position: relative;
            top: -5rem;

            &__list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                padding-top: 50px;
                padding-bottom: 20px;
                padding-left: 40px;
                padding-right: 40px;

                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background-color: $beige;
                    opacity: .90;
                }

                &:after {
                    position: absolute;
                    content: '';
                    left: 0;
                    right: 0;
                    top: -20px;
                    width: 88%;
                    height: 20px;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: #c3b59f;
                }

                &__item {
                    width: 30%;
                    margin-bottom: 30px;
                    position: relative;
                    padding-left: 90px;

                    &__div {
                        position: absolute;
                        left: .7rem;
                        top: auto;

                        i {
                            display: inline-block;
                            color: #ffffff;
                            font-size: 26px;
                            position: absolute;
                            left: 1.5rem;
                            top: 1rem;
                        }

                    }

                    h3 {
                        font-weight: 600;
                        font-size: 28px;
                        color: $white;
                        margin-bottom: 15px;
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        margin-bottom: 2px;

                        li {
                            list-style-type: none;
                            display: block;
                            margin-bottom: 3px;
                            font-size: 15px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            a {
                                transition: $transition;
                                color: $white;

                                &:hover {
                                    color: $black;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__form {
            background: $black;
            max-width: 100%;
            padding: 55px 100px;
            box-shadow: 0px 0px 20px 0px #ddd;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;


            &__inp {
                width: 45%;
                outline: none;
                background-color: transparent;
                border: 1px solid $beige;
                padding: 1.2rem;
                margin: 1.5rem;

                &:focus {
                    border: 1px solid $white;
                }
            }

            &__inp1 {
                width: 100%;
                outline: none;
                background-color: transparent;
                border: 1px solid $beige;
                margin: 1.5rem;
                padding: 1.2rem;
                padding-bottom: 12rem;
                color: #fff;

                &:focus {
                    border: 1px solid $white;
                }
            }

            &__btn {
                width: 160px;
                font-weight: 600;
                font-size: 1rem;
                color: $white;
                background-color: $beige;
                padding: 16px 40px;
                border: 0;
                position: relative;
                z-index: 1;
                transition: $transition;

                &:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 0;
                    width: 0;
                    height: 100%;
                    opacity: 0;
                    z-index: -1;
                    transition: $transition;
                    background-color: $black;
                }

                &:after {
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 0;
                    width: 0;
                    height: 100%;
                    opacity: 0;
                    z-index: -1;
                    transition: $transition;
                    background-color: $black;
                }

                &:hover {
                    color: $white;
                    box-shadow: 0px 0px 20px 0px #ddd;

                    &:before {
                        width: 50%;
                        opacity: 1;
                    }

                    &:after {
                        width: 50%;
                        opacity: 1;
                    }
                }
            }
        }
    }
}