@import '../../../../Assets/Sass/Veriables.scss';

.blog {
    margin: 70px 0;
    padding-top: 50px;
    position: relative;
    bottom: 100px;

    .container {
        &__title {
            text-align: center;
            color: $beige;
            font-weight: 600;
            font-size: 1.2rem;
        }

        &__text {
            text-align: center;
            margin-bottom: 40px;
            color: $black;
            font-weight: 600;
            font-size: 3rem;
        }

        &__a {
            border-radius: 1rem;
            box-shadow: 0px 0px 12px 0px #ddddddad;
            width: 90%;
            transition: $transition;
            padding-bottom: 1.2rem;
            margin-bottom: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &:hover {
                transform: translate(0, 10px);
            }

            &__img {
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                width: 100%;
                height: 200px;
            }
            &__item {
                padding: 1rem;

                &__sbject {
                    text-align: center;
                    margin: auto;
                    width: 150px;
                    background-color: $beige;
                    border-radius: 1.4rem;
                    padding: 10px 1rem;
                    top: -20px;
                    position: relative;
                    color: $white;

                    font: {
                        size: 1.1rem;
                    }
                }

                &__title {
                    transition: $transition;
                    color: $black;

                    font: {
                        size: 1.5rem;
                        weight: 600;
                    }

                    &:hover {
                        color: $beige;
                    }

                }

                &__text {
                    color: $black;
                    
                    font: {
                        size: 1rem;
                        weight: 400;
                    }
                }
            }

            &__link {
                position: relative;
                right: 30%;
                display: flex;
                align-items: center;
                color: $beige;
                transition: $transition;

                &:hover {
                    color: $black;
                    letter-spacing: 1px;
                }

                font: {
                    size: 1.2rem;
                    weight: 600;
                }

                p {
                    margin: 0;
                }

                i {
                    margin-top: 3.5px;
                }
            }
        }

    }
}