@import '../../../Assets/Sass/Veriables.scss';

.footer {
    background-color: $footer-bc;
    height: 650px;
}

@media only screen and (max-width: 767px) {
    
.footer {
    background-color: $footer-bc;
    height: 100vh;
}
}